{% extends 'base.html' %}

{% block title %} Dodaj automobil {% endblock %}


{% block body %}
<div class="container">
    <h2>Dodaj automobil</h2>

    <a href="{{ url_for('home') }}" class="return-button btn btn-primary">Početna stranica</a>

    <form method="post">
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="brand">Marka:</label>
            <input type="text" class="form-control" id="brand" name="brand" required>
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="model">Model:</label>
            <input type="text" class="form-control" id="model" name="model" required>
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="year">Godina:</label>
            <input type="number" class="form-control" id="year" name="year" required>
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="price">Cijena:</label>
            <input type="number" class="form-control" id="price" name="price" required>
        </div>
        <button type="submit" class="btn btn-primary">Potvrdi</button>
    </form>
</div>
{% endblock %}
